# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sentry Config File
.env.sentry-build-plugin

src-tauri/target

.idea/
dist/
types/
.sourcemaps
xcuserdata/
node_modules/
Pods/
*.map
Podfile.lock
Build/*
build/
Index/
.*.sw*
android-template.iml
!/build/.npmkeep
lerna-debug.log
local.properties
contents.xcworkspacedata
android-template/.gradle/
android-template/app/app.iml
.gradle/
.settings/
.project
.env
capacitor-build.log

# Carthage and Carthage-built binaries
Carthage
*.xcframework.zip
